
.mono
.op
Atom
Bitwarden
Code
Google Play Music Desktop Player
Mullvad VPN
Notable
Postman
QtProject.conf
Signal
Slack
Thunar
Trolltech.conf
Yubico
autostart
base16-shell
chromium
coc
configstore
copyq
cros-garcon.conf
dconf
deluge
discord
evolution
filezilla
gcloud
gconf
gedit
git
git-cola
gnome-initial-setup-done
gocode
google-chrome
google-chrome*
gtk-2.0
gtk-3.0
heroku
ibus
libreoffice
menus
mimeapps.list
monitors.xml
mopidy
nautilus
neofetch
pavucontrol.ini
pulse
ranger/bookmarks
ranger/history
ranger/tagged
spotify
streamlink-twitch-gui
sublime-text-3
systemd/user/default.target.wants
thefuck
transmission
vlc
weston.ini
xfce4/terminal/accels.scm
xfce4/xfconf
yarn
yelp