bin.sym/speedtest.py
config.sym/Atom/
config.sym/autostart
config.sym/base16-shell
config.sym/chromium/
config.sym/configstore
config.sym/dconf
config.sym/deluge
config.sym/filezilla
config.sym/gconf
config.sym/gedit/
config.sym/git
config.sym/gocode
config.sym/google-chrome
config.sym/gtk-2.0/
config.sym/gtk-3.0
config.sym/heroku
config.sym/menus
config.sym/mimeapps.list
config.sym/mopidy
config.sym/neofetch
config.sym/pulse
config.sym/ranger/bookmarks
config.sym/ranger/history
config.sym/ranger/tagged
config.sym/Slack/
config.sym/spotify
config.sym/streamlink-twitch-gui
config.sym/sublime-text-3/
config.sym/systemd/user/default.target.wants
config.sym/Thunar/
config.sym/transmission
config.sym/Trolltech.conf
config.sym/vlc/
config.sym/wall.png
config.sym/xfce4/terminal/accels.scm
config.sym/xfce4/xfconf/
config.sym/yarn
config.sym/Yubico/
docker.sym/config.json
.gitmodules
i3.sym/.config.swp
ncmpcpp.sym/error.log
vim.sym/gutentags
vim.sym/.netrwhist
vim.sym/tmp
