bin.sym/speedtest.py
i3.sym/.config.swp
config.sym/pulse
config.sym/base16-shell
config.sym/deluge
config.sym/yarn
config.sym/configstore
config.sym/heroku
vim.sym/tmp
config.sym/autostart
config.sym/google-chrome
config.sym/menus
config.sym/xfce4/terminal/accels.scm
config.sym/dconf
config.sym/spotify
config.sym/Atom/
config.sym/Slack/
config.sym/sublime-text-3/
config.sym/filezilla
vim.sym/.netrwhist
config.sym/Thunar/
config.sym/Trolltech.conf
config.sym/Yubico/
config.sym/chromium/
config.sym/gedit/
config.sym/gtk-2.0/
config.sym/mimeapps.list
config.sym/vlc/
config.sym/xfce4/xfconf/
