[submodule "vim.sym/pack/bundle/start/vim-go"]
	path = vim.sym/pack/bundle/start/vim-go
	url = https://github.com/fatih/vim-go
[submodule "vim.sym/pack/bundle/start/vim-devicons"]
	path = vim.sym/pack/bundle/start/vim-devicons
	url = https://github.com/ryanoasis/vim-devicons
[submodule "vim.sym/pack/bundle/start/gotests-vim"]
	path = vim.sym/pack/bundle/start/gotests-vim
	url = https://github.com/buoto/gotests-vim
[submodule "vim.sym/pack/bundle/start/vim-gitgutter"]
	path = vim.sym/pack/bundle/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter
[submodule "vim.sym/pack/bundle/start/vim-fugitive"]
	path = vim.sym/pack/bundle/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "vim.sym/pack/bundle/start/vim-gutentags"]
	path = vim.sym/pack/bundle/start/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags
[submodule "vim.sym/pack/bundle/start/lightline"]
	path = vim.sym/pack/bundle/start/lightline
	url = https://github.com/itchyny/lightline.vim
[submodule "vim.sym/pack/bundle/start/fzf.vim"]
	path = vim.sym/pack/bundle/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "vim.sym/pack/bundle/start/vim-buftabline"]
	path = vim.sym/pack/bundle/start/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "vim.sym/pack/bundle/start/coc"]
	path = vim.sym/pack/bundle/start/coc
	url = https://github.com/neoclide/coc.nvim
[submodule "nord-dircolors"]
	path = nord-dircolors
	url = https://github.com/arcticicestudio/nord-dircolors.git
[submodule "config.sym/tmux/plugins/tpm"]
	path = config.sym/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
