bin.sym/speedtest.py
i3.sym/.config.swp
config.sym/pulse
config.sym/base16-shell
config.sym/deluge
config.sym/yarn
vim.sym/tmp
config.sym/autostart
config.sym/google-chrome
config.sym/menus
config.sym/xfce4/terminal/accels.scm
vim.sym/.netrwhist
